.BG {
    height: 100vh;
    background: url("../assets/images/card/ticket-2974645_1920.jpg");
    background-size: cover;

}

.intro {
    height: 400px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.title {
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.5;
    text-shadow: 5px 2px black;
    letter-spacing: 4px;
}

.trending {
    height: auto;
    background-size: cover;
    background: url("../assets/images/card/girls-5775077_1920.jpg");
}

.filmWrapper {
}

.filmImage {
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 5px;
}

.image {
    height: 500px;
}